<template>
    <div class="chat-box" :class="{ show: show }">
        <div @click="onChatOpen" class="chat-title bg-primary">
            <h4 class="p-2">{{ title }}</h4>
        </div>
        <div class="chat-body">
            <ul class="messages d-flex flex-column">
                <message v-for="(message, index) in messages" :key="index" :text="message.text" :align="message.type"></message>
            </ul>
        </div>
        <div class="chat-input">
            <text-input @message-send="onMessageSend" :focus="textFocus"></text-input>
        </div>
    </div>
</template>
<script>
import Message from './Message.vue';
import TextInput from './TextInput.vue';
import { setTimeout } from 'timers';
import { log } from 'util';

export default {
    props: {
        title: {
            type: String,
            default: 'Chatting dengan tutor'
        },
        apiUrl: {
            type: String
        },
        historyUrl: {
            type: String
        },
        channel: {
            type: String,
            required: true
        },
        event: {
            type: String,
            required: true
        }
    },
    components: {
        Message,
        TextInput
    },
    data() {
        return {
            show: false,
            textFocus: false,
            messages: [
                
            ]
        }
    },
    methods: {
        onChatOpen() {
            this.show = !this.show;
            this.textFocus = !this.textFocus;
            this.scrollToBottom();
        },
        onMessageSend(text) {
            
            this.messages.push({
                text: text,
                type: 'right'
            });

            setTimeout(() => {
                this.scrollToBottom();
            }, 50);

            axios.post(this.apiUrl, {
                message: text
            })
            .then((response) => {
                console.log(response.status);
                
            })
            .catch((error) => {
                console.error(error);
                
            });
            
        },
        scrollToBottom() {
                let chatList = document.querySelector('ul.messages');
                let chatWrapper = document.querySelector('.chat-body');
    
                if (chatList.offsetHeight > chatWrapper.offsetHeight) {
                    chatWrapper.scrollTop = chatList.offsetHeight;
                }
        }
    },
    mounted() {
        Echo.private(this.channel)
        .listen(this.event, (e) => {
            this.messages.push({
                text: e.message,
                type: 'left'
            });

            setTimeout(() => {
                this.scrollToBottom();
            }, 50);
        });

        this.$nextTick(() => {
            axios.get(this.historyUrl)
                .then((res) => {
                    this.messages = res.data.data.histories
                });
        });
    }
}
</script>
<style scoped>
.chat-box {
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    right: 150px;
    z-index: 999;
    box-shadow: 0px 0px 18px rgba(3, 3, 3, .35);
    transform: translateY(360px);
    transition: transform .25s;
}

.chat-box .chat-title {
    width: 100%;
    line-height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.chat-title h4 {
    font-size: 1.2rem;
}

.chat-box.show {
    transform: translateY(-7px);
}

.chat-body {
    padding: 1rem;
    height: 78%;
    overflow-y: auto;
    width: 100%;
}

ul.messages {
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.chat-input {
    height: 10%;
}
</style>
