<template >
    <div>
        <div class="card" style="width: 18em">
            <div class="list-group list-group-flush">

                <draggable v-model="lists" ghost-class="ghost" :move="onMove">
                    <div class="list-group-item" v-for="data in lists" :key="data.id">{{ data[name] }}</div>
                </draggable>
            </div>
        </div>
    </div>
</template>
<script>
import draggable from 'vuedraggable';

export default {
    props: {
        list: {
            required: true
        },
        name: {
            required: true,
            type: String
        },
        syncUrl: {
            type: String,
            required: true
        }
    },
    components: {
        draggable
    },
    methods: {
        onMove(event) {
            let dragged = event.draggedContext.element;
            let related = event.relatedContext.element;

            axios.get(`${this.syncUrl}/${dragged.id}/${related.id}`, (res) => {

                let tempOrder = dragged.ordering;
    
                dragged.ordering = related.ordering;
    
                related.ordering = tempOrder;
            });

        },
        onEnd(event) {
            axios.post(this.syncUrl, {
                data: this.lists,
                _method: 'PUT'
            }).then(response => {
                console.log(response);
                
            })
        }
    },
    data() {
        return {
            lists: []
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.lists = [...JSON.parse(this.list)];
        });
    }
}
</script>
<style scoped>
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>

