<template>
    <li :class="align">
        <span class="text">{{ text }}</span>
    </li>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true
        },
        align: {
            type: String,
            default: 'right'
        },
        from: {
            type: String
        }
    }
}
</script>

<style scoped>
li {
    display: block;
    padding: 10px;
}

li.left .text::before, li.right .text::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 15px solid #ccc;
    position: absolute;
}

li.left .text::before {
    left: -5px;
    top: -7px;
    transform: rotate(-45deg);

}

li.right .text::after {
    right: -6px;
    top: -7px;
    transform: rotate(45deg);
}

li.left {
    margin-right: auto;
}

li.right {
    margin-left: auto;
}

li .text {
    padding: 6px;
    background: #cfcfcf;
    color: #323232;
    border-radius: 4px;
    display: block;
    position: relative;
}

li span.from {
    font-weight: 700;
    color: #333333;
    font-size: .8rem;
    line-height: 30px;
}
</style>

