<template>
    <form @submit.prevent="onSubmit" class="form-inline w-100">
        <div class="form-group w-100">
            <input v-model="text" type="text" autocomplete="off" class="w-100" id="textMessage" placeholder="Tulis pesan...">
        </div>
    </form>
</template>
<script>
export default {
    props: {
        focus: {
            type: Boolean
        }
    },
    data() {
        return {
            text: ''
        }
    },
    methods: {
        onSubmit() {
            this.$emit('message-send', this.text);
            this.text = '';
        }
    },
    watch: {
        focus: (val) => {
            if (val === true) {
                document.getElementById('textMessage').focus();
            }
            
        }
    }
}
</script>

<style scoped>
input[type="text"] {
    border: none;
    border-top: 1px solid #cfcfcf;
    padding: 12px;
}

input[type="text"]:focus {
    outline: none!important;
}
</style>
