.member-navbar {
    background: #0a3d62 !important;
}

ul.navbar-btn {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

ul.navbar-btn li {
    display: inline-block;
    margin-left: 5px;
}

.footer p {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 13px;
}

.footer {
    margin-top: 30px;
    background: #212529;
    padding-top: 15px;
    padding-bottom: 15px;

}

.login-page .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.list-video {
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
    height: 570px;
}

.list-video li a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f8f9fa;
    color: #333;
    padding-left: 20px;
    padding-right: 40px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.list-video li.watched a:after {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    right: 23px;
    color: green;
}

.col-sidebar {
    padding-left: 0;
    padding-right: 0;
}

.col-video {
    padding-left: 0;
    padding-right: 0;
}

.list-video li a:hover {
    text-decoration: none;
    background: #e5e3e3;
}

.list-video li.list-video-title {
    padding: 20px;
    font-size: 20px;
    background: #1b5c8a;
    color: white;
}

.list-comment {
    padding-left: 0;
    list-style: none;
}

.username {
    font-weight: bold;
    margin-bottom: 6px;
}

.list-comment li:first-child {
    padding-top: 0;
}

.list-comment li {
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 15px;
}

.list-video .watched a {
    color: green;
    background: #cfefef;
}

.list-video .active a {
    background: #ccdcff;
}

.login-tutor {
    height: 100vh;
}

.login-tutor h3 {
    color: white;
}

.detail-table tbody tr:first-child td {
    border-top: unset;
}

.table-category tr td:last-child {
    width: 30%;
}

.video-table td {
    vertical-align: middle;
}

.navbar.nav-member {
    background: #0a3d62 !important;
}

li.disabled a:hover {
    background: #a9a5a5;
    color: #e3e2e2;
    cursor: not-allowed;
}

li.disabled a {
    background: #a9a5a5;
    color: #e3e2e2;
}

a.member-category:hover {
    text-decoration: none;
}

a.member-category .card {
    border-left: .25rem solid #4e73df !important;
    margin-bottom: 10px;
}

a.member-category .card-body {
    padding-top: 11px;
    padding-bottom: 12px;
}

a.member-category.watched .card:before {
    content: "\f00c";
    font-family: "fontawesome";
    position: absolute;
    right: 15px;
    top: 10px;
}

a.member-category.watched .card {
    border-left: .25rem solid #1cc88a !important;
    background: #f3fffd;
    color: #1cc88a;
    position: relative;
}

.bg-login-tutor {
    background-image: url(/image/cover_login_tutor.jpg);
    background-position: top center;
    background-size: cover;
}

.bg-login-member {
    background-image: url(/image/cover_login_member.jpg);
    background-position: top center;
    background-size: cover;
}

.bg-register-member {
    background-image: url(/image/cover_register.jpg);
    background-size: cover;
}

.member-navbar .nav-link:hover {
    color: #e9e9e9 !important;
}

.member-navbar .nav-link {
    color: white !important;
}

a.member-category.disabled .card {
    background: #efefef;
    color: #848484;
    cursor: no-drop;
    border-left-color: #bcb6b6 !important;
}

.container-fluid.content-video {
    padding-right: 12px;
    padding-left: 13px;
    margin-top: -24px;
    box-sizing: border-box;
}

.list-comment li {
    border: 1px solid #858796;
    padding: 1em !important;
    border-radius: 5px;
    margin-bottom: 1em;
}

li.reply {
    margin-left: 50px;
    position: relative;
}


li.reply:before {
    content: "\f148";
    font-family: "Fontawesome";
    position: absolute;
    left: -36px;
    font-size: 24px;
    transform: rotateZ(-270deg);
    top: 0;
}

.page-member #app>.container {
    min-height: 550px;
}

.bg-primary {
    background: #0a3d62 !important;
}

.bg-gradient-primary {
    background: #0a3d62 !important;
}

@media screen and (max-width:980px) {
    .page-member #app>.container {
        min-height: 350px;
    }
}

ul.text-white.footer-detail {
    list-style: none;
    padding-left: 0;
}

a.socmed-icon {
    font-size: 30px;
}

.footer-icon li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.card-text {
    min-height: 270px;
}

.jumbotron.jumbotron-fluid.banner p {
    color: white;
    text-shadow: 0px 1px 5px #000;
    font-size: 18px;
}

.jumbotron.jumbotron-fluid.banner h1 {
    color: white;
    text-shadow: 0px 1px 5px #000;
}

.jumbotron.banner {
    background-image: url(/image/banner.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: -2em;
    z-index: 0;
}

.container.no-min-height {
    min-height: unset !important;
}

.image-app .list-image {
    margin: auto;
}

.image-app {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
}



@media (max-width: 992px) {
    .navbar.member-navbar .navbar-toggler {
        display: block;
        position: absolute;
        right: 15px;
    }

    .member-navbar .collapse-member {
        position: absolute;
        top: 70px;
        background: #0a3d62;
        width: 100%;
        left: 0;
    }

    .navbar.member-navbar .collapse-member:not(.show) {
        display: none !important;
    }
}


span.badge-best {
    background: #53b053;
    color: white;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 9px;
}

.not-active-row {
    width: 100%;
}